.medias {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.medias img {
    width: 1.5em;
    cursor: pointer;
    opacity: 70%;
    transition: .3s ease;
}
.medias img:hover {
    opacity: 100%;
}